spring:
  application:
    name: order-service
  
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:5432/ordersdb
    username: ${POSTGRES_USER:csomadmin}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

azure:
  entra:
    internal:
      issuer-uri: https://login.microsoftonline.com/${ENTRA_INTERNAL_TENANT_ID}/v2.0
    external:
      issuer-uri: https://${ENTRA_EXTERNAL_TENANT_NAME}.ciam.login.microsoftonline.com/${ENTRA_EXTERNAL_TENANT_ID}/v2.0
  
  keyvault:
    secret:
      enabled: true
      property-sources[0]:
        name: ${KEY_VAULT_NAME}
        endpoint: https://${KEY_VAULT_NAME}.vault.azure.net/
  
  servicebus:
    connection-string: ${SERVICE_BUS_CONNECTION_STRING}

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.csom.platform: INFO
    org.springframework.security: DEBUG

